{
  "ApiUrl": "http://localhost:5161",
  "PublishUrl": "http://localhost:8080/agent",
  "AppId": "5d158bf1-d366-4973-96ca-152fc63aa496",
  "StartOnBoot": false,
  "Serilog": {
    "Using": [ "Serilog.Sinks.Console", "Serilog.Sinks.Http", "Serilog.Sinks.EventLog" ],
    "MinimumLevel": {
      "Default": "Debug",
      "Override": {
        "Microsoft": "Warning",
        "Quartz": "Warning"
      }
    },
    "WriteTo": [
      { "Name": "Console" },
      { "Name": "EventLog" },
      {
        "Name": "Http",
        "Args": {
          "requestUri": "http://localhost:5161/agent/logs"
        }
      }
    ],
    "Enrich": [ "FromLogContext" ],
    "Destructure": [
      {
        "Name": "ToMaximumDepth",
        "Args": { "maximumDestructuringDepth": 4 }
      },
      {
        "Name": "ToMaximumStringLength",
        "Args": { "maximumStringLength": 100 }
      },
      {
        "Name": "ToMaximumCollectionCount",
        "Args": { "maximumCollectionCount": 10 }
      }
    ],
    "Properties": {
      "Application": "ConsensusAgent"
    }
  }
}
